@page "/create-repo"
@rendermode InteractiveServer

<PageTitle>New Repository</PageTitle>
<h1>Create New Repository</h1>

<style>
    body {
        background-color: black;
        color: white;
    }

    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        text-align: left;
        
    }

    .form-group {
        margin-bottom: 20px;
        margin-left: -150px;
    }

    .search-bar {
        width: 113%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #333;
        background-color: #222;
        color:white;
        border-radius: 5px;
        font-size: 16px;
        height: 60px;
    }


    .checkbox-group {
        display: flex;
        flex-direction: column;
    }

    .checkbox-custom {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

        .custom-label {
        font-size: 20px;
    }


    .button {
        background-color: #6f9bdd;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: -160px;
    }

    .text-right {
        text-align: right;
    }

</style>

<div class="container">
        <div>
            <div class="form-group">
            <input type="text" class="search-bar" @bind="RepositoryName" id="floatingRepoName" placeholder="Repository name" />

            </div>

        <div class="form-group">
            <input type="text" class="search-bar" @bind="RepositoryDescription" id="floatingRepoDesc" placeholder="Repository description" />
            </div>
        </div>

        <div class="checkbox-group">
        <div class="form-group">
            <input class="checkbox-custom" type="checkbox" @bind="AddReadme" />
            <span>
                <label for="addFile" class="custom-label">Add a README file</label>
                <small class="d-block text-body-secondary">This is where you can write a long description for your project.</small>
            </span>
        </div>

        <div class="form-group">
            <input class="checkbox-custom" type="checkbox" @bind="IsPublic" />
            <span>
                <label for="publicRepository" class="custom-label">Public Repository</label>
                <small class="d-block text-body-secondary">Choose want to public to repo.</small>
            </span>
        </div>

        <div class="form-group">
            <input class="checkbox-custom" type="checkbox" @bind="ChooseGitignore" />
            <span>
                <label for="chooseFile" class="custom-label">Choose a .gitignore file</label>
                <small class="d-block text-body-secondary">Choose which files not to track from a list of templates.</small>
            </span>
        </div>
        </div>

        <div class="form-group text-right">
            <button class="button" type="submit" @onclick="CreateRepositoryAsync">Create repository</button>
        </div>
</div>


