@page "/r/{UserUrl}/{RepoUrl}"
@rendermode InteractiveServer

<PageTitle>@UserUrl/@RepoUrl</PageTitle>

<div>
    <h1>@UserUrl/@RepoUrl</h1>

    <div class="text-field">
        <span style="color:red">@ErrorMsg</span>
    </div>
</div>
