@page "/sign-up"
@rendermode InteractiveServer

<PageTitle>Sign up</PageTitle>

<div class="centering">
    <h1>Sign up</h1>
    <div class="form-floating mb-3">
        <input @bind-value="Id" @bind-value:event="oninput" class="form-control" required />
        <label for="id">ID</label>
    </div>
    <div class="form-floating mb-3">
        <input @bind-value="Passwd" @bind-value:event="oninput" type="password" class="form-control" required />
        <label for="password">Password</label>
    </div>
    <div class="form-floating mb-3">
        <input @bind-value="PasswdRe" @bind-value:event="oninput" type="password" class="form-control" required />
        <label for="password">Password (Retry)</label>
    </div>
    <div class="form-floating mb-3">
        <input @bind-value="Nickname" @bind-value:event="oninput" required class="form-control" pattern="^[a-zA-Z0-9_-.]*$" />
        <label for="nickname">Nickname</label>
    </div>
    <div class="form-floating mb-3">
        <input @bind-value="Email" @bind-value:event="oninput" required class="form-control" pattern="^[a-zA-Z0-9_-.@@]*$" />
        <label for="email">Email</label>
    </div>
    <div>
        <label for="error">@ErrorMsg</label>
    </div>
    <button type="button" class="btn btn-primary" @onclick="SignUpButtonClick">Sign up</button>
    <div class="link">
        Have already account?<a href="/">Go to login</a>
    </div>
</div>