@page "/user/{UserUrl}"
@rendermode InteractiveServer

<PageTitle>@UserUrl</PageTitle>

<div>
    <h1>@UserUrl</h1>
</div>

<div class="find_box">
    <input type="text" name="find" placeholder="Find Other User's Repository" @bind=FindInput />
    <button id="Find" class="btn btn-primary" type="button" @onclick="FindReposButtonClick">Find</button>
</div>

<div class="My_repo">
    <button id="My_repo" class="btn btn-primary" type="button" @onclick="ReposButtonClick" hidden=@IsNotMyProfile>My Repository</button>
    <button id="Settings" class="btn btn-primary" type="button" @onclick="SettingsButtonClickAsync" hidden=@IsNotMyProfile>Settings</button>
    <button id="Settings" class="btn btn-primary" type="button" @onclick="LogoutButtonClickAsync" hidden=@IsNotMyProfile>Logout</button>
</div>

<div class="Introduce">
    <h3>Introduce</h3>
</div>
